// Typography
$font-size: 0.9375rem;
$font-family-lexend: 'Lexend Deca', sans-serif;
$font-family-big-shoulders: 'Big Shoulders Display', cursive;

// colors
$par: hsla(0, 0%, 100%, 0.75);
$light: hsl(0, 0%, 95%);
$orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);
